{% extends 'convergine-socialbuddy/_layouts/_settings' %}
{% do view.registerAssetBundle("convergine\\socialbuddy\\assets\\BuddyAssets") %}
{% import '_includes/forms' as forms %}

{% set title = 'Settings' %}
{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% block content %}
    <h2>Pinterest</h2>
    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="convergine-socialbuddy">
    {% namespace 'settings' %}
        {{ forms.autosuggestField({
            label: 'API: Access Token'|t('convergine-socialbuddy'),
            name: 'facebookApiToken',
            value: settings.facebookApiToken,
            instructions: 'Access token for Social Buddy'|t('convergine-socialbuddy'),
            suggestEnvVars: true,
        }) }}
    {% endnamespace %}
{% endblock %}