{% extends 'convergine-socialbuddy/_layouts/_settings' %}
{% do view.registerAssetBundle("convergine\\socialbuddy\\assets\\BuddyAssets") %}
{% import '_includes/forms' as forms %}

{% set title = 'Settings' %}
{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% block content %}
    <h2>Telegram</h2>
    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="convergine-socialbuddy">
    {% namespace 'settings' %}


        {% if settings.license != 'pro' %}

        <div class="warning" style="padding: 20px; background: #fff4e5; border: 1px solid #ffd9b3; border-radius: 4px; color: #663d00;">

        This social platform is included in PRO versions of the plugin. Please upgrade at <a href="https://plugins.craftcms.com">plugins.craftcms.com</a>

        </div>

        {% else %}


        {{ forms.autosuggestField({
            label: 'Telegram Channel Name'|t('convergine-socialbuddy'),
            name: 'telegramChannelAccount',
            value: settings.telegramChannelAccount,
            instructions: 'Channel where posts will be published to. Please specify the name without leading @ symbol'|t('convergine-socialbuddy'),
            suggestEnvVars: true,
        }) }}

        <div style="display: flex; align-items: center;">
            {{ forms.autosuggestField({
            label: 'Bot token'|t('convergine-socialbuddy'),
            name: 'telegramBotToken',
            value: settings.telegramBotToken,
            instructions: 'Usually you know it from @BotFather during bot registration process. Do not forget to add this bot to channel admins'|t('convergine-socialbuddy'),
            suggestEnvVars: true,
        }) }}
        </div>

        {% endif %}

    {% endnamespace %}
{% endblock %}